.HeroesCatalogue {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 72px));
    grid-template-rows: repeat(auto-fill, 134px);
    grid-gap: 1em;
    justify-content: center;
    grid-area: catalogue;
}

@media (max-width: 320px) {
    .HeroesCatalogue {
        grid-gap: 8px;
    }
}
