.HeroesCatalogue {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 72px);
    grid-template-rows: repeat(auto-fill, 134px);
    grid-gap: 10px;
    justify-content: center;
    grid-area: catalogue;
}
.HeroesCatalogue:first-child {
    /*grid-column-start: 1;*/
}
.testcatalogue {
    width: 100%;
    background: indianred;
}