.HeroesCatalogue {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 72px);
    grid-template-rows: repeat(auto-fit, 134px);
    /*justify-items: center;*/
    grid-gap: 10px;
    /*text-align: center;*/
    justify-content: center;
    /*position: relative;*/
}

.testcatalogue {
    width: 100%;
    background: indianred;
}