.HeroIcon {
    height: 134px;
    max-width: 72px;
    min-width: 64px;
    display: inline;
    z-index: 49;
    position: relative;
    text-align: center;

}
.HeroIcon img{
    height: 100px;
    max-width: 72px;
    min-width: 64px;
    border-radius: 8px;
}
.HeroIcon span {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
}

.HeroIcon .counter {
    position: absolute;
    height: 24px;
    width: 24px;
    top: 72px;
    left: 4px;
    background: #00C35A;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: normal;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    vertical-align: center;
}
.HeroIcon .counter span {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    z-index: 50;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80%;
    top: -12px;
    border-radius: 20px;
    background: #000000;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    display: none;
}
.close:before,
.close:after {
    position: absolute;
    top: 8px;
    left: 4px;
    content: "";
    background: #FFFFFF;
    width: 13px;
    height: 3px;
}
.close:before {
    transform: rotate(-45deg)
}
.close:after {
    transform: rotate(45deg)
}
.HeroIcon:hover .close {
    display: inline-block;
}

