.SelectedList {
    overflow-x: scroll;
    padding-top:40px;
    width: 100vw;
    display: grid;
    grid-template-columns: 10px;
    grid-auto-columns: 72px;
    grid-auto-flow: column;
    scroll-snap-type: x proximity;
    grid-gap: 1em;
}

.SelectedList:before,
.SelectedList:after {
    content: '';
    width: 10px;
}