.SelectedList {
    overflow-x: scroll;
    /*margin-top: 40px;*/
    padding-top:40px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    /*grid-auto-flow: column;*/
    justify-items: center;
    scroll-snap-type: x proximity;
    grid-auto-flow: column;
    grid-gap: 1em;
    text-align: center;
    justify-content: center;
}